<body>
  <!-- <app-cabecalho></app-cabecalho> -->

  <img src="../../../assets/OQueFazemos.jpg" alt="O que fazemos?" />

  <div id="container">
    <div id="container-left">
      <p id="titulo">O que fazemos?</p>
      <div id="container-item" class="fazemos">
        <p>
          São muitos projetos e desafios para apresentar a você uma formação
          inovadora, que alia o aprender na prática com tecnologias e
          infraestrutura de referência no mercado. Confira nossa programação!
        </p>
      </div>
      <img src="../../../assets/temas.jpg" alt="Matérias" />
      <div id="container-item" class="barra">
        <p>
          Além dos cursos, oferecemos soluções especiais para empresas. Temos
          dois hotéis-escola reconhecidos dentro e fora do país e a nossa
          Editora já comercializou mais de 11 milhões de exemplares.
        </p>
      </div>
    </div>
    <div>
      <img src="../../../assets/alunos.jpg" alt="Alunos" />
    </div>
  </div>
  <app-informacoes></app-informacoes>
  <app-rodape></app-rodape>
</body>
