<body>
  <div>
    <img
      id="logo"
      src="../../../assets/logo_senac_default.png"
      alt="Senac.com"
    />

    <!-- <ul>
      @for (opcao of opcoes; track opcao.id) {
      <li>
        <a routerLink="{{ opcao.path }}">{{ opcao.nome }}</a>
      </li>
      }
    </ul> -->

    <ul>
      <!-- <li>
        <a routerLink="principal">Principal</a>
      </li>
      <li>
        <a routerLink="quer-saber">Quer Saber?</a>
      </li> -->
      <li>
        <a routerLink="cursos-livres">Cursos Livres</a>
      </li>
      <li>
        <a routerLink="senac">O Senac</a>
      </li>
      <li>
        <a routerLink="nossas-unidades">Nossas Unidades</a>
      </li>
      <!-- <li>
        <a routerLink="formulario">Formulario</a>
      </li> -->
    </ul>

    <button>
      <img id="login" src="../../../assets/login.png" />Login / Área Exclusiva
    </button>
  </div>
</body>
