<body>
  <section>
    <div class="informativo-container">
      <ul class="informativo-item">
        <li>
          <a href="#"><b>Conheça-nos</b></a>
        </li>
        <li><a href="#">Sobre a Amazon</a></li>
        <li><a href="#">Informações corporativas</a></li>
        <li><a href="#">Carreiras</a></li>
        <li><a href="#">Comunicados à imprensa</a></li>
        <li><a href="#">Comunidade</a></li>
        <li><a href="#">Acessibilidade</a></li>
        <li><a href="#">Amazon Science</a></li>
      </ul>
      <ul class="informativo-item">
        <li>
          <a href="#"><b>Ganhe dinheiro conosco</b></a>
        </li>
        <li><a href="#">Venda na Amazon</a></li>
        <li><a href="#">Proteja e construa a sua marca</a></li>
        <li><a href="#">Publique seus livros</a></li>
        <li><a href="#">Seja um associado</a></li>
        <li><a href="#">Anuncie seus produtos</a></li>
      </ul>
      <ul class="informativo-item">
        <li>
          <a href="#"><b>Pagamento</b></a>
        </li>
        <li><a href="#">Meios de Pagamento</a></li>
        <li><a href="#">Compre com Pontos</a></li>
        <li><a href="#">Cartão de Crédito</a></li>
      </ul>
      <ul class="informativo-item">
        <li>
          <a href="#"><b>Deixe-nos ajudar você</b></a>
        </li>
        <li><a href="#">Sua conta</a></li>
        <li><a href="#">Frete e prazo de entrega</a></li>
        <li><a href="#">Devoluções e reembolsos</a></li>
        <li><a href="#">Gerencie seu conteúdo e dispositivos</a></li>
        <li><a href="#">Ajuda</a></li>
      </ul>
    </div>
  </section>
</body>
