/* Reset */
/* Margins e Paddings */

body,
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

/* ------------ */

body {
  max-width: 1440px;
  height: 220px;
  padding: 10px;
}

img {
  max-width: 100%;
  display: block;
  padding-bottom: 100px;
}

#branco {
  max-width: 1440px;
  height: 100px;
}
