<body>
  <img src="../../../assets/QuerSaber.jpg" alt="Quer saber?" />

  <section id="container">
    <div id="container-item" class="sonhos">
      <p>Vários sonhos, o mesmo caminho: a educação!</p>
    </div>
    <div id="container-item" class="barra">
      <p>
        Desde 1946, trabalhamos para transformar vidas. Aqui, pessoas de todas
        as idades são incentivadas a desenvolver seu potencial para expandir
        suas possibilidades de futuro. É assim que formamos profissionais que
        sabem fazer grandes ideias virarem realidade.
      </p>
    </div>
  </section>

  <div id="branco"></div>
</body>
