/* Reset */
/* Margins e Paddings */

body,
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

/* ------------ */

body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background: #003667;
  max-width: 1440px;
  height: 60px;
  padding: 10px;
}

div {
  color: #fff;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.875em;
  text-align: center;
}
