* {
  display: flex-box;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  background-color: red;
  color: white;
  padding: 100px 50px;
}

.borda {
  margin: 10px;
  border: solid;
  border-color: black;
}
